:root {
  --color_yellow: #FEDA48;
  --color_green: #009C58;
  --color_red: #EA522F;
  --color_purple: #4858A4;
  --color_blue: #009FE3;
  --color_dark: #122735;
  --color_gray: #828282;
  --color_dark_gray: #F7F7F7;
  --big_font: 18px;
  --medium_font: 14px;
  --small_font: 12px;
}
h1,
h2,
h3,
h4 {
  color: var(--color_dark);
}

p {
  margin-bottom: 1rem;
}

.color_yellow {
  color: var(--color_yellow);
}

.color_green {
  color: var(--color_green);
}

.color_red {
  color: var(--color_red);
}

.color_purple {
  color: var(--color_purple);
}

.color_blue {
  color: var(--color_blue);
}

.color_dark {
  color: var(--color_dark);
}

.color_gray {
  color: var(--color_gray);
}

.bg_yellow {
  background-color: var(--color_yellow);
}

.bg_green {
  background-color: var(--color_green);
}

.bg_red {
  background-color: var(--color_red);
}

.bg_purple {
  background-color: var(--color_purple);
}

.bg_blue {
  background-color: var(--color_blue);
}

.bg_dark {
  background-color: var(--color_dark);
}

.bg_dark_gray {
  background-color: var(--color_dark_gray);
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: black;
  text-align: center;
  cursor: pointer;
}

.btn.red {
  color: var(--color_red);
  border: 1px solid var(--color_red);
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.btn.red:hover {
  color: #FFFFFF;
  background-color: var(--color_red);
}

.btn.red.fill {
  color: #FFFFFF;
  background-color: var(--color_red);
}

.btn.green {
  color: var(--color_green);
  border: 1px solid var(--color_green);
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.btn.green:hover {
  color: #FFFFFF;
  background-color: var(--color_green);
}

.btn.green.fill {
  color: #FFFFFF;
  background-color: var(--color_green);
}

.btn.big {
  min-height: 75px;
  font-size: var(--big_font);
  border-radius: 30px;
  padding: 0px 81px;
}

.btn.medium {
  min-height: 50px;
  font-size: var(--medium_font);
  border-radius: 20px;
  padding: 0px 71px;
}

.btn.small {
  min-height: 40px;
  font-size: var(--small_font);
  border-radius: 15px;
  padding: 0px 51px;
}

.layer_blue {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.background_blue {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

input.input-text {
  width: 100%;
  font-size: 12px;
  border: 1px solid #DBDBDB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px 10px;
}

input[type="number"] {
  width: 35px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header_container {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

.header_menu {
  margin-right: 50px;
}

.header_menu li {
  margin-right: 30px;
}

.header_menu li a {
  color: var(--color_dark);
  font-size: var(--medium_font);
  font-weight: bold;
}

.header_menu li:last-of-type {
  margin-right: 0px;
}

.header_lang {
  position: relative;
  margin-right: 75px;
}

.header_lang:after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 1.35px;
  left: 0;
  background: var(--color_yellow);
  border-radius: 40px;
  z-index: 0;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

html[lang="ru-RU"] .header_lang:after {
  content: '';
  right: 0;
  left: auto;
}

.header_lang li {
  list-style-type: none;
  padding: 0px 8px;
}

.header_lang a {
  position: relative;
  color: #122735;
  font-size: var(--small_font);
  z-index: 1;
}

.header_cart {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color_purple);
  border-radius: 50%;
}

.header_cart_icon {
  width: 21px;
}

.header_cart span {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  background-color: var(--color_yellow);
  border-radius: 9999px;
}

.header_toggle {
  width: 23px;
  height: 23px;
  position: relative;
}

.header_toggle span {
  width: 23px;
  height: 2.5px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--color_purple);
  border-radius: 8px;
  margin: auto;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.header_toggle span:nth-of-type(2) {
  margin-top: -7px;
}

.header_toggle span:nth-of-type(3) {
  margin-top: 7px;
}

.header_toggle.open span:first-of-type {
  opacity: 0;
}

.header_toggle.open span:nth-of-type(2) {
  margin-top: 0;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-transform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}

.header_toggle.open span:nth-of-type(3) {
  margin-top: 0;
  -webkit-transform: translateY(-1px) rotate(-45deg);
  -ms-transform: translateY(-1px) rotate(-45deg);
  transform: translateY(-1px) rotate(-45deg);
}

.breadcrumbs_item {
  position: relative;
  color: var(--color_purple);
}

.breadcrumbs_item:first-of-type {
  background: url("../../img/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.breadcrumbs_item:last-of-type {
  color: var(----color_gray);
}

.breadcrumbs_item:last-of-type:after {
  content: none;
}

.breadcrumbs_item:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 51%;
  right: -2rem;
  background: url("../../img/breadcrumbs-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%) translateX(-100%);
  -ms-transform: translateY(-50%) translateX(-100%);
  transform: translateY(-50%) translateX(-100%);
}

.main-page .top-corner-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.main-page .left-side-img {
  position: absolute;
  top: 100vh;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: -1;
}

.main-page .about p {
  color: var(--color_dark);
  font-size: var(--big_font);
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.main-page .about-top-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  z-index: 1;
}

.main-page .about-top-center img {
  margin: auto;
}

.main-page .about-top-left {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
  z-index: 1;
}

.main-page .about-top-right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  z-index: 1;
}

.main-page .about-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  z-index: 1;
}

.main-page .about-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  z-index: 1;
}

.main-page .about:before {
  content: '';
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../img/custom-line-bg.svg");
  background-size: cover;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main-page .about:after {
  content: '';
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../../img/custom-line-bg.svg");
  background-size: cover;
}

.welcome {
  min-height: 100vh;
}

.news_card {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;
}

.news_card_img {
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}

.news_card_img img {
  border-radius: 30px;
}

.news_card_date {
  font-size: 10px;
  line-height: 12px;
  color: var(--color_dark);
  opacity: 0.3;
}

.news_card_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: var(--color_dark);
}

.news_card_desc {
  font-size: 16px;
  line-height: 150%;
  color: var(--color_dark);
}

.contacts_block {
  position: relative;
}

.contacts_block:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid #C4C4C4;
  border-radius: 40px;
}

.footer {
  background: url("../../img/footer-bg.svg");
  background-size: cover;
}

.filter {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 35px 20px; 
}
.filter_mobile_toggle {
  position: fixed;
  left: 0;
  background-color: var(--color_purple);
  border-radius: 0px 10px 10px 0px;
  z-index: 11;
  cursor: pointer;
  padding: 20px 10px; 
}
.filter_mobile_cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 1rem; 
}
.filter_mobile_cover.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 
}

.filter_title {
  display: block;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter_label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.filter_checkbox, .filter_category_checkbox {
  position: relative;
  visibility: visible;
  width: 18px;
  height: 18px;
  margin-right: 0.25em;
  overflow: visible;
  z-index: auto;
  left: auto;
}

.filter_span {
  position: relative;
  margin-left: -15px;
  padding-left: 20px;
}

.filter_price .price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.filter_price .price-input .field {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
}
.filter_price .field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
.filter_price input[type="number"]::-webkit-outer-spin-button,
.filter_price input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter_price .price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.filter_price .slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.filter_price .slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #4858a4;
}
.filter_price .range-input {
  position: relative;
}
.filter_price .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.filter_price input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #4858a4;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
.filter_price input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #4858a4;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
.filter_button {
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  background: #EA5020;
  -webkit-box-shadow: -10px 10px 20px rgba(255, 55, 135, 0.2);
  box-shadow: -10px 10px 20px rgba(255, 55, 135, 0.2);
  border-radius: 20px;
  text-align: center;
  padding: 12px 20px;
  margin-bottom: 1rem !important;
}

.popular_arrows_prev {
  width: 60px;
  height: 60px;
  position: relative;
  left: 0;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 25px rgba(72, 88, 164, 0.2);
  box-shadow: 0px 10px 25px rgba(72, 88, 164, 0.2);
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}


.popular_arrows_prev:hover {
  background: var(--color_yellow);
}

.popular_arrows_prev img {
  width: 13px;
  height: 21px;
  -webkit-transform: translateX(-2.5px) rotate(180deg);
  -ms-transform: translateX(-2.5px) rotate(180deg);
  transform: translateX(-2.5px) rotate(180deg);
}

.popular_arrows_next {
  width: 60px;
  height: 60px;
  position: relative;
  right: 0;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 25px rgba(72, 88, 164, 0.2);
  box-shadow: 0px 10px 25px rgba(72, 88, 164, 0.2);
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.popular_arrows_next:hover {
  background: var(--color_yellow);
}

.popular_arrows_next img {
  width: 13px;
  height: 21px;
  -webkit-transform: translateX(2.5px);
  -ms-transform: translateX(2.5px);
  transform: translateX(2.5px);
}

.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: .5rem;
}
.products.list-products {
  margin: 0 -0.5rem;
}

.products .product_card_title {
  font-size: 18px;
}

.products .product_card_price {
  font-size: 16px;
}

.product_card {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 30px;
}

.product_card_img {
  position: relative;
  width: 100%;
  height: 285px;
}

.product_card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.product_card_img:after {
  content: '';
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: url("../../img/custom-big-line-bg.svg");
  background-size: cover;
  background-position: 50% 50%;
  z-index: auto;
}

.product_card_title {
  color: var(--color_dark);
  font-size: 26px;
  line-height: 32px;
}

.product_card_desc {
  color: #999999;
  font-size: var(--medium_font);
  line-height: 19px;
}

.product_card_price {
  color: var(--color_dark);
  font-size: 26px;
  line-height: 32px;
}

.product_single_price {
  color: #ffffff;
  font-size: 24px;
  background: var(--color_purple);
  border-radius: 12px;
}

.product_single_description {
  font-size: 13px;
}

.product_single_buy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  background: var(--color_red);
  -webkit-box-shadow: -10px 10px 20px rgba(255, 55, 135, 0.2);
  box-shadow: -10px 10px 20px rgba(255, 55, 135, 0.2);
  border-radius: 20px;
}

.product_gallery_list_single {
  width: 80px;
  margin-bottom: 1rem;
}

.product_gallery_list_single img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.product_gallery_item {
  width: 100%;
}

.product_gallery_item img {
  width: 100%;
  border-radius: 1.5rem 0px 0px 1.5rem;
}

.product_qty {
  width: 105px;
  position: relative;
}

.product_qty .quantity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px;
}

.product_qty .quantity input[type="number"] {
  width: 35px;
  color: var(--color_dark);
  font-size: 12px;
  background-color: #ffffff;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  border: none;
}

.product_qty .quantity input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.product_qty .quantity input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.product_qty .quantity input[type="number"]:focus {
  outline: none;
}

.product_qty .quantity .quantity-down {
  width: 12px;
  height: 3px;
  background: url("../../img/qty_minus.svg");
  background-repeat: no-repeat;
}

.product_qty .quantity .quantity-up {
  width: 12px;
  height: 12px;
  background: url("../../img/qty_plus.svg");
  background-repeat: no-repeat;
}

.cart_item {
  border: 1px solid #DBDBDB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
}

.cart_item_thumb {
  height: 105px;
}

.cart_item_thumb img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.cart_item_trash .trash_link {
  width: 20px;
  height: 20px;
  display: block;
  background: url("../../img/trash-icon.svg");
  background-repeat: no-repeat;
}

.cart_item_trash .trash_link:hover {
  background: url("../../img/trash-icon-hover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkout_cart {
  border: 1px solid #DBDBDB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
}

.checkout_cart_item {
  background-color: var(--color_dark_gray);
  border-radius: 15px;
}

.checkout_cart_item_thumb {
  height: 105px;
}

.checkout_cart_item_thumb img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.checkout_cart_total {
  color: #2D2C2C;
  font-size: 24px;
  font-weight: bold;
}

.checkout_cart_total span {
  color: var(--color_green);
  font-size: 36px;
}

.page-template-page-catalog, .page-template-page-cart {
  background: url("../../img/shop-bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.single-products {
  background: url("../../img/product-bg.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 75%;
}

.woocommerce-cart {
  background: url("../../img/green-bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.woocommerce-checkout {
  background: url("../../img/yellow-bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.modal-bg.show {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.56);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  z-index: 9;
}